@let firstImage = gallery().images[0].link;

<section class="collection-site">
  <div class="collection-site__cover">
    <img class="collection-site__img" [src]="firstImage" alt="bg-cover" />
    <div class="collection-site__overlay">
      <h1 class="collection-site__name">{{ gallery().name }}</h1>
      <div class="collection-site__date">
        {{ gallery().createDate | date : "d MMM y" }}
      </div>
      <button class="collection-site__down-btn">Посмотреть галерею</button>
      <div class="collection-site__user-name">{{ gallery().userName }}</div>
    </div>
  </div>

  <div class="collection-site__control-bar">
    <div class="collection-site__info">
      <h2>{{ gallery().name }}</h2>
      <h3>{{ gallery().userName }}</h3>
    </div>
    <div class="collection-site__actions"></div>
  </div>

  <div class="collection-site__gallery"></div>
  <div class="collection-site__flex">
    <button class="collection-site__up-btn">Вверх</button>
  </div>
</section>
