<div class="tabs-container">
  <nav class="tabs" role="tablist">
    @for (tab of tabs; track $index) {
      <a
        role="tab"
        href="javascript:void(0)"
        (click)="navigateToTab(tab)"
        class="tab-item relative"
        [class.active]="isActive(tab.link)"
        (mouseenter)="hoveredTab.set(tab.tooltip)"
        (mouseleave)="hoveredTab.set(null)"
      >
        <img
          [src]="tab.icon"
          [alt]="tab.tooltip"
          class="tab-icon transition-opacity duration-200"
          [class.opacity-100]="hoveredTab() === tab.tooltip || isActive(tab.link)"
          [class.opacity-70]="hoveredTab() !== tab.tooltip && !isActive(tab.link)"
        />
        @if (hoveredTab() === tab.tooltip) {
          <span class="tooltip">{{ tab.tooltip }}</span>
        }
      </a>
    }
  </nav>
</div>
