<div class="layout">
  <aside class="sidebar">
    <div class="sidebar-header">
      <button class="back-button" (click)="goBackToPreviousPage()">
        <img src="assets/back-svgrepo-com.svg" alt="Назад"/>
      </button>
      <div class="collection-info">
        <div class="collection-name">{{ collectionData()?.name }}</div>
        <div class="collection-date">
          {{ collectionData()?.date | date:'d MMMM yy г.' }}
        </div>
      </div>
    </div>

    <div class="sidebar-content">
      <div
        class="cover-image-wrapper relative group cursor-pointer"
        (click)="navigateToPage()">
        <img
          class="cover-image w-full h-auto object-cover"
          [src]="coverImageUrl"
          alt="Обложка"
        />


        <div class="sidebar-content">
          @if (isPhotosRoute()) {
              <div
                class="absolute inset-0 bg-black/40 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                <div class="text-white text-lg flex items-center gap-2">
                  <img
                    src="assets/icons/white-edit.svg"
                    alt="Edit"
                    class="w-[14px] h-[14px] filter invert"/>
                  <span class="text-[16px]">Change Cover</span>
                </div>
              </div>
          }
        </div>
      </div>

      <app-tabs></app-tabs>

      @if (isDesignRoute()) {
        <div class="design-sections">
          <div class="section-header">
            <h3 class="section-title">{{ designService.sectionTitle() }}</h3>
          </div>

          <ul class="section-list">
            @for (section of designService.sections(); track section.id) {
              <li>
                <a
                  (click)="designService.navigateToSection(section.id)"
                  [class.active]="designService.getActiveSection()?.id === section.id"
                  class="section-item">
                <span class="section-icon">
                  <img [src]="section.icon" [alt]="section.name"/>
                </span>
                  <span class="section-name">{{ section.name }}</span>
                </a>
              </li>
            }
          </ul>
        </div>
      }

    </div>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
