<!-- src/app/digital-delivery/digital-delivery.component.html -->
<div class="delivery-container">
  <div class="text-section">
    <h3 class="small-title">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
      <span class="material-icons" style="color: #999999">favorite</span>
    </h3>
    <h1 class="large-title">Отбор фото клиентом</h1>
    <p class="description">Клиенты утверждают выгруженные фото в альбоме on-line.</p>
    <ul class="features-list">
      <li *ngFor="let feature of features"><span class="checkmark">✔</span> {{ feature }}</li>
    </ul>
  </div>
  <div class="image-section">
    <img src="../../../assets/icons/note2.jpg" alt="Digital Delivery" />
  </div>
</div>
