<section class="collections-header">
  <div class="collections-header__inner">
    <h2 class="collections-header__title">Коллекции</h2>
    <label class="collections-header__search-label">
      <span class="collections-header__search-icon" aria-hidden="true">
        <svg
          class="svg-inline--fa fa-magnifying-glass"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            fill="currentColor"
            d="M368 208A160 160 0 1 0 48 208a160 160 0 1 0 320 0zM337.1 371.1
                 C301.7 399.2 256.8 416 208 416C93.1 416 0 322.9 0 208S93.1 0
                 208 0S416 93.1 416 208c0 48.8-16.8 93.7-44.9
                 129.1L505 471c9.4 9.4 9.4 24.6 0 33.9s-24.6
                 9.4-33.9 0L337.1 371.1z"
          />
        </svg>
      </span>
      <input
        id="search-bar"
        enterkeyhint="done"
        class="collections-header__search-input"
        type="text"
        placeholder="Поиск..."
        [(ngModel)]="searchTerm"
      />
    </label>
  </div>

  <div class="collections-header__controls">
    <a
      class="collections-header__control-link"
      [class.collections-header__control-link_disabled]="isPresetsDisabled"
      [attr.aria-disabled]="isPresetsDisabled"
      [routerLink]="!isPresetsDisabled ? '/settings/presets' : null"
      (click)="isPresetsDisabled && $event.preventDefault()"
    >
      Просмотреть пресеты
    </a>

    <button
      class="collections-header__control-button"
      (click)="createNewCollection()"
    >
      Новая Коллекция
    </button>
  </div>
</section>
