<div class="h-[100vh] items-center flex flex-col p-[2.4rem]">
  <div class="w-full flex items-center justify-between">
    <span class="text-2xl font-serif tracking-widest"
      >bookfoto.<span class="text-[#3b82f6]">art</span></span
    >

    <button
      aria-label="Close"
      (click)="goHome()"
      class="text-gray-400 hover:text-gray-700"
      title="Close"
    >
      ×
    </button>
  </div>
  @if (success) {
    <div class="max-w-md w-full space-y-6 text-center pt-[4rem]">
      <h2 class="text-[22px] font-medium leading-[1.1] mb-4">Password reset</h2>
      <p class="text-[#666] text-[14px] leading-[20px] mb-6">
        Your password reset request has been received.
      </p>
      <p class="text-[#666] text-[14px] leading-[20px] mb-10">
        If an account exists for <b>{{ emailControl }}</b
        >, you will get an email to reset your password shortly. If it doesn't arrive, be sure to
        check your spam folder.
      </p>
      <button
        (click)="goToLogin()"
        class="w-full bg-gray-100 text-[#333] tracking-[1px] text-sm py-[12px] uppercase"
      >
        BACK TO LOGIN
      </button>
    </div>
  } @else {
    <div class="max-w-md w-full space-y-6 text-center pt-[4rem]">
      <h2 class="text-[22px] font-medium leading-[1.1] text-inherit">Password reset</h2>
      <p class="text-[#666] mb-0 mx-auto text-[14px] leading-[20px] mb-[2.1875rem]">
        Please enter the email address associated with your account.<br />
        An email will be sent to you with further instructions on resetting your password.
      </p>
      <form (submit)="sendEmail()" #form="ngForm" class="space-y-4">
        <input
          name="email"
          type="email"
          [formControl]="emailControl"
          [ngClass]="{
            'bg-[#e8f0fe]': inputValue,
            'bg-white': !inputValue,
          }"
          required
          placeholder="you@email.com"
          class="appearance-none border border-[#ddd] focus:outline-none focus:border-[#c5c5c5] focus:bg-[#e8f0fe] rounded-none w-[90%] h-auto mb-[15px] p-[15px] text-[18px] font-normal leading-[25px] text-[#222]"
        />
        <button
          type="submit"
          [disabled]="form.invalid || isLoading"
          class="w-[90%] bg-[#1abc9c] text-inherit p-[10px] appearance-none cursor-pointer text-white tracking-[1px] border-0 rounded-none font-normal no-underline transition-colors duration-200 ease-out"
        >
          {{ isLoading ? 'SENDING...' : 'SEND EMAIL' }}
        </button>
      </form>
    </div>
  }
</div>
