<p-dialog
  [visible]="visible"
  (onHide)="onHide()"
  [modal]="true"
  [closable]="false"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '680px', maxWidth: '95vw' }"
>
  <ng-template pTemplate="header">
    <span class="dlg-title">Публикация коллекции</span>
  </ng-template>

  <!-- верхняя «обложка» лениво -->
  @defer (on viewport) {
    <div class="cover">
      <img [src]="previewSrc" alt="Превью коллекции" />
    </div>
  }

  <div class="dlg-body">
    <h3 class="dlg-question">Готовы опубликовать?</h3>

    <p class="dlg-text">
      После публикации коллекция станет доступна онлайн по короткой ссылке, и вы сможете отправлять
      её клиентам. Настройки и содержимое можно будет редактировать в любой момент из панели
      управления.
    </p>

    @if (collectionName) {
      <p class="dlg-note">
        Коллекция: <b>{{ collectionName }}</b>
      </p>
    }
  </div>

  <ng-template pTemplate="footer">
    <div class="dlg-actions">
      <p-button type="button" label="Отмена" class="p-button-text" (click)="onPublish()"></p-button>
      <p-button type="button" label="Опубликовать" (click)="onCancel()"></p-button>
    </div>
  </ng-template>
</p-dialog>
