.layout {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
}

.sidebar {
  width: 220px;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-header h2 {
  font-size: 18px;
  font-weight: 600;
}

.icons {
  display: flex;
  gap: 8px;
}

.icons .icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  filter: grayscale(100%); /* опционально, для однотонного стиля */
}

.menu {
  margin-top: 40px;
}

.menu-item {
  display: block;
  margin-bottom: 12px;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 0;
  border-left: 4px solid transparent;
  padding-left: 12px;
}

.menu-item.active {
  border-color: #000;
  background-color: #f0f0f0;
}

.main-content {
  min-height: 100vh;
  padding: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* убираем центрирование по вертикали */
  justify-content: flex-start;
}

.welcome.centered {
  /*margin-top: 1rem;*/
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {

  font-size: 0.8rem;
  font-weight: 100;
  color: #999999;

}

.headline {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: #111;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 0px;
}


.welcome h1 {
  font-size: 24px;
  
}



.upload-button {

  margin-top: 0px;
  background-color: #1abc9c;
  color: white;
  border: none;
  padding: 0.6rem 0.6rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer;
  width: 250px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.promo-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.promo-image img {
  max-width: 50%; /* уменьшено в 2 раза */
  height: auto;
}

.welcome img {
  max-width: 50%; /* уменьшить в 2 раза */
  height: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 400px;
  align-items: flex-start; /* выравнивание по левому краю */
}

.form-group label {
  font-size: 0.85rem;
  font-weight: 500;
  color: #444;
  margin-bottom: 1rem; /* label ближе к input */
}

.form-group input {

   width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;
}