<div class="design-sections">
  <div class="section-header">
    <h3 class="section-title">{{ designService.sectionTitle() }}</h3>
  </div>
  <ul class="section-list">
    @for (section of designService.sections(); track section.id) {
      <li>
        <a
          (click)="designService.navigateToSection(section.id)"
          [class.active]="designService.getActiveSection()?.id === section.id"
          class="section-item">
              <span class="section-icon">
                <img [src]="section.icon" [alt]="section.name" />
              </span>
          <span class="section-name">{{ section.name }}</span>
        </a>
      </li>
    }
  </ul>
</div>
