.image-slider {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  &__controls {
    position: absolute;
    top: 1rem;
    right: 4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #d0d0d0;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }
}
