<aside class="sidebar">
  <div class="sidebar-header">
    <h2>Галереи</h2>
    <div class="icons">
      <img src="assets/question-circle-svgrepo-com.svg" class="icon" />
      <img src="assets/bell-alt-svgrepo-com.svg" class="icon" />
      <img src="assets/profile-svgrepo-com.svg" class="icon" />
    </div>
  </div>
  <nav class="menu">
    <a class="menu-item active">Коллекции</a>
    <a class="menu-item">Избранное</a>
    <a class="menu-item">Домашняя страница</a>
    <a class="menu-item">Настройки</a>
  </nav>
</aside>
