<aside
  class="w-64 h-full bg-white border-r border-[#eaeaea] shadow-md flex flex-col hidden md:block"
>
  <div class="sidebar-header flex justify-between items-center p-5 border-b">
    <h2 class="text-xl font-bold">Галереи</h2>
    <div class="icons flex gap-3">
      <img src="assets/icons/question-circle-svgrepo-com.svg" class="w-6 h-6" />
      <img src="assets/icons/bell-alt-svgrepo-com.svg" class="w-6 h-6" />
      <img
        src="assets/icons/profile-svgrepo-com.svg"
        class="w-6 h-6 cursor-pointer"
        (click)="menu.toggle($event)"
        alt="Профиль"
      />

      <!-- Выпадающее меню -->
      <p-menu #menu [model]="profileMenuItems" [popup]="true" appendTo="body"></p-menu>
    </div>
  </div>
  <nav class="menu flex-1">
    @for (item of menuItems; track item.id) {
      <a
        class="block px-5 py-3 hover:bg-gray-100 flex items-center gap-3 transition-colors"
        [ngClass]="{ 'bg-[#f6f7f7]': activeMenuId() === item.id }"
        (click)="setActiveMenu(item.id)"
      >
        <span class="text-gray-500"> </span>
        <span>{{ item.title }}</span>
      </a>
    }
  </nav>
</aside>
