.layout {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #f9f9f9;
}

.main-content {
  min-height: 100vh;
  padding: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* убираем центрирование по вертикали */
  justify-content: flex-start;
  gap: 2rem;
}
