<div class="register-page">
  <div class="register-left">
    <header class="register-header">
      <img src="../../../../assets/logo.svg" alt="Логотип" class="logo" />
      <button class="close-btn" routerLink="/">
        &times;
      </button>
    </header>

    <main class="register-content">
      <h1 class="register-title">Создайте аккаунт бесплатно</h1>
      <p class="register-subtitle">
        Уже есть аккаунт?
        <a routerLink="/login">Войти</a>
      </p>

      <button class="social-btn yandex">
        <img src="../../../../assets/yandex-start-svgrepo-com.svg" alt="Яндекс" class="yandex-logo" />
        Войти с Яндекс ID
      </button>

      <div class="register-or">
        <div class="line"></div>
        <div>или с помощью email</div>
        <div class="line"></div>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <!-- Шаг 1 -->
      <div *ngIf="step === 1">
        <input
          type="email"
          placeholder="Email"
          formControlName="email"
          required
        />
        <button type="button" class="submit-btn" (click)="nextStep()">
          Продолжить с email
        </button>
      </div>

      <!-- Шаг 2 -->
      <div *ngIf="step === 2">
        <input
          type="email"
          [value]="form.get('email')?.value"
          disabled
        />
        <input
          type="username"
          placeholder="Username"
          formControlName="username"
          required
        />
        <input
          type="password"
          placeholder="Пароль"
          formControlName="password"
          required
        />
        <button type="submit" class="submit-btn">
          Создать аккаунт
        </button>
      </div>
    </form>


      <p class="register-disclaimer">
        Создавая аккаунт, вы соглашаетесь с <a href="#">условиями bookforo.art</a> и подтверждаете, что прочитали и поняли их.
      </p>
    </main>
  </div>

  <div class="register-right">
    <img src="../../../../assets/reg-photo.jpg" alt="Превью" />
  </div>
</div>
