<div class="layout">
  <aside class="sidebar">
    <div class="sidebar-header">
      <h2>Галереи</h2>
      <div class="icons">
        <img src="assets/question-circle-svgrepo-com.svg" class="icon" />
        <img src="assets/bell-alt-svgrepo-com.svg" class="icon" />
        <img src="assets/profile-svgrepo-com.svg" class="icon" />
      </div>
    </div>
    <nav class="menu">
      <a class="menu-item active">Коллекции</a>
      <a class="menu-item">Избранное</a>
      <a class="menu-item">Домашняя страница</a>
      <a class="menu-item">Настройки</a>
    </nav>
  </aside>

  <main class="main-content">
    @if(isGalleryEmpty() && !isCreatingNewCollection()){
    <div class="collection-top">
      <app-collection-header (newCollection)="handleNewCollection()" />
      <div class="collection-top__header">
        <div class="collection-top__filter">
          <app-filter-dropdown [config]="STATUS" />
          <app-filter-date [config]="EVENT_DATE" />
        </div>

        <div class="collection-top__filter">
          <app-sort-dropdown
            [sort]="sortOption()"
            (sortChange)="onSortChange($event)"
          />
          <app-collection-view
            [view]="displayView()"
            (chooseView)="changeDisplayView($event)"
          />
        </div>
      </div>
    </div>

    <!-- <app-collection-display
      [(viewMode)]="displayView"
      [collections]="sortedCollections()"
    /> -->

    <ng-container [ngTemplateOutlet]="view"></ng-container>
    }@else {
    <ng-container [ngTemplateOutlet]="steps"></ng-container>
    }
  </main>
</div>

<ng-template #steps>
  <!-- Шаг 1 -->
  @if(currentStep() === 1){
  <section class="welcome centered">
    <p class="subtitle">Начало работы</p>
    <h1 class="headline">Опубликовать свою первую галерею всего за 3 шага</h1>
    <button class="upload-button" (click)="nextStep()">Загрузить фото</button>
    <div class="promo-image">
      <img src="assets/promo.png" alt="Promo Image" />
    </div>
  </section>
  }@else {
  <!-- Шаг 2 -->
  <section class="welcome centered">
    <p class="subtitle">Шаг 2 из 3</p>
    <h1 class="headline">Введите наименование коллекции</h1>

    <div class="form-group">
      <label for="galleryName">Имя коллекции</label>
      <input
        id="galleryName"
        type="text"
        placeholder="например: Псков - Свадьба"
        [(ngModel)]="galleryName"
        name="galleryName"
      />
    </div>

    <div class="form-group">
      <label for="galleryDate">Дата события</label>
      <input
        id="galleryDate"
        type="date"
        [(ngModel)]="galleryDate"
        name="galleryDate"
      />
    </div>
    <div class="form-group">
      <button class="upload-button" (click)="nextStep()">
        Создать коллекцию
      </button>
    </div>
  </section>
  }
</ng-template>

<ng-template #gridView>
  <div class="grid-view">
    @for (item of sortedCollections(); track $index) {
    <app-collection-card [collection]="item" (delete)="onDelete(item.name)" />
    }
  </div>
</ng-template>

<ng-template #tableView>
  <app-collection-table
    [collections]="sortedCollections()"
    (delete)="onDelete($event)"
  />
</ng-template>

<ng-template #emptyView>
  <div class="empty-container">
    <img class="cover-image" src="assets/icons/empty.svg" alt="Пусто" />
    <p>Ничего не найдено</p>
  </div>
</ng-template>

<ng-template #view>
  @if (sortedCollections().length === 0) {
  <ng-container [ngTemplateOutlet]="emptyView"></ng-container>
  } @else { @if (displayView() === 'grid') {
  <ng-container [ngTemplateOutlet]="gridView"></ng-container>
  } @else {
  <ng-container [ngTemplateOutlet]="tableView"></ng-container>
  } }
</ng-template>
