<header class="header">
  <div class="header__logo" routerLink="/" style="cursor: pointer">
    bookfoto.<span class="highlight">art</span>
  </div>

  <button class="burger" (click)="toggleMenu()">☰</button>

  <nav class="nav" [class.mobile-open]="menuOpen">
    <div class="nav__links"></div>

    <hr class="nav__divider" />

    <div class="nav__auth">
      <a routerLink="/login" class="nav__auth-link">ВОЙТИ</a>
      <a routerLink="/register" class="nav__auth-link">РЕГИСТРАЦИЯ</a>
    </div>
  </nav>
</header>
