<!-- src/app/digital-delivery/digital-delivery.component.html -->
<div class="delivery-container">
  <div class="image-section">
    <img src="../../../assets/icons/note1.jpg" alt="Digital Delivery" />
  </div>

  <div class="text-section">
    <h3 class="small-title">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
      <span class="material-icons" style="color: #999999">download</span>
    </h3>
    <h1 class="large-title">Удобная доставка фото</h1>
    <p class="description">
      Флешки ушли в прошлое, общие папки усложняют жизнь. Клиент хочет просто скачать файл — быстро
      и без лишних шагов.
    </p>
    <ul class="features-list">
      <li *ngFor="let feature of features"><span class="checkmark">✔</span> {{ feature }}</li>
    </ul>
  </div>
</div>
