<app-header></app-header>

<section class="hero">
  <h1 class="hero__title">Потрясающие Фотогалереи для Ваших Клиентов</h1>
  <p class="hero__subtitle">
    Современное решение для фотографов: делитесь, отправляйте, утверждайте и продавайте онлайн.
  </p>
  <button class="btn-try" routerLink="/register">Попробовать бесплатно</button>

  <div class="hero__photo-container">
    <img
      src="ff6df801adf7b215e739c17b0474f76c.png"
      alt="Рабочее место фотографа"
      class="hero__photo"
    />
  </div>

  <div class="hero__photo-text">
    <h3 class="hero__photo-subtitle">новый взгляд</h3>
    <h2 class="hero__photo-title">Создано, чтобы впечатлять</h2>
    <p class="hero__subtitle">
      Индивидуальная онлайн-галерея для каждого клиента — с эффектной обложкой и продуманной
      компоновкой сразу из коробки.
    </p>
  </div>

  <app-gallery-switcher></app-gallery-switcher>
  <app-mobile-bluur-demo></app-mobile-bluur-demo>

  <app-digital-delivery></app-digital-delivery>
  <app-easy-choice></app-easy-choice>
  <app-shop-section></app-shop-section>
  <app-get-started></app-get-started>
  <app-footer></app-footer>
</section>
