<div class="login-page">
  <header class="login-header">
    <img src="../../../../assets/icons/logo.svg" alt="Логотип" class="logo" />
    <button class="close-btn" routerLink="/">✕</button>
  </header>

  <main class="login-content">
    <h1 class="login-title">Вход</h1>
    <p class="login-subtitle">
      У вас ещё нет аккаунта?
      <a routerLink="/register">Зарегистрироваться</a>
    </p>

    <!-- <button class="social-btn yandex">
      <img
        src="../../../../assets/icons/yandex-start-svgrepo-com.svg"
        alt="Яндекс ID"
        class="yandex-logo"
      />
      <span>Войти с Яндекс ID</span>
    </button>

    <div class="login-or">
      <span class="line"></span>
      <span class="text">или с помощью email</span>
      <span class="line"></span>
    </div>-->

    <form [formGroup]="form" (submit)="onSubmit()">
      <input type="email" autocomplete="email" formControlName="email" placeholder="Email" />

      <input type="password" formControlName="password" placeholder="Пароль" />

      <div class="login-options">
        <div class="remember-wrap">
          <p-checkbox
            formControlName="remember"
            binary="true"
            inputId="rememberMe"
            name="rememberMe"
          ></p-checkbox>
          <label for="rememberMe"> Запомнить меня</label>
        </div>
        <a routerLink="/reset-password">Забыли пароль?</a>
      </div>

      <button type="submit" class="submit-btn" [disabled]="loading">
        <span *ngIf="!loading">Войти</span>
        <span *ngIf="loading">Загрузка...</span>
      </button>
    </form>
  </main>
</div>
